
<div class="main-form container">
    <div class="innerForm">
        <form (ngSubmit) = "onSubmit(myForm.value)" #myForm = "ngForm" class="form-div ">
            <label class="text">Firstname:</label><br>
            <input ngModel name="fname" type="text" class="field" placeholder="Enter your firstname"><br>
            <label class="text">Lastname:</label><br>
            <input ngModel name="lname" type="text" class="field" placeholder="Enter your lastname"><br>
            <label class="text">Email:</label><br>
            <input ngModel name="email" type="email" class="field" placeholder="Enter your Email"><br>
            <label class="text">Password:</label><br>
            <input ngModel name="password" type="text" class="field" placeholder="Enter your password"><br>
            <label class="text">Confirm Password:</label><br>
            <input ngModel  name="cpassword" type="text" class="field" placeholder="Confirm your password"><br>
            <input ngModel type="submit" value="Submit" class="btn btn-danger button">
            
        </form>
    </div>
    
    
</div>
