<div class="main-container">
  <div class="nav-container">
    <ul>
      <li><a routerLinkActive="active" routerLink="blog">Blogs</a></li>
      <li><a routerLinkActive="active" routerLink="addPost">Add Post</a></li>
      <div style="float: right;">
        <button class="btn btn-danger button">login</button>
        <button class="btn btn-danger button">logout</button>
      </div>
    </ul>
    <router-outlet></router-outlet>
    <!-- <app-post-list-component></app-post-list-component> -->
    <!-- <app-add-post-component></app-add-post-component> -->
  </div>
