<div class="main-form container">
    <div class="innerForm">
        <form (ngSubmit) = "onSubmit(myForm.value)" #myForm = "ngForm" class="form-div ">
            <label class="text">Username:</label><br>
            <input ngModel name="username" type="text" class="field" placeholder="Enter your username"><br>
            <label class="text">Password:</label><br>
            <input ngModel name="password" type="text" class="field" placeholder="Enter the password"><br>
            <input ngModel type="submit" value="Submit" class="btn btn-danger button">
            <div class="signup-link">
                <p>Don't have account? <a routerLink="/register" id="signup">Sign up</a></p>
            </div>
            <router-outlet></router-outlet>
        </form>
    </div>
    
    
</div>
