.post-form{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;


}

.lab-title , .lab-description {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.title , .description {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
}

input[type="submit"]
{
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #45a049;
}